* {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
 /* background: linear-gradient(135deg, #153677, #4e0857); */
 background-image: linear-gradient(to right bottom, #050537, #003a70, #006f9a, #00a4ab, #35d9a9);
}

.todo-app {
  background-color: white;
  width: 100%;
  max-width: 540px;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  padding: 10px;
  font-size: 16px;
}

button {
  border: none;
  outline: none;
  background: #ff5945;
  padding: 16px 50px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}



@media (max-width: 480px) {
  .todo-app {
    margin: 50px auto 10px;
    padding: 30px 15px 50px
  }

  .todo-app h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .row {
    padding-left: 10px;
  }

  input {
    font-size: 14px;
    width: 100%; 
    margin-bottom: 10px;
    
  }

  button {
    padding: 12px;
    font-size: 8px;
    width: 40%; 
    margin-left: 5px;
    box-sizing: border-box; 
    text-align: center;
  }

  ul li {
    font-size: 15px;
    padding: 10px 8px 10px 40px;
  }
}


@media (max-width: 768px) {
  .todo-app {
    margin: 80px auto 15px;
    padding: 35px 20px 60px;
  }

  .todo-app h2 {
    font-size: 22px;
  }

  .row {
    padding-left: 15px;
  }

  input {
    font-size: 15px;
  }

  button {
    padding: 14px 30px;
    font-size: 15px;
  }

  ul li {
    font-size: 16px;
    padding: 10px 8px 10px 45px;
  }
}


@media (max-width: 992px) {
  .todo-app {
    margin: 90px auto 20px;
    padding: 40px 25px 70px;
  }

  .todo-app h2 {
    font-size: 24px;
  }

  button {
    padding: 16px 35px;
  }
}


@media (max-width: 1200px) {
  .todo-app {
    max-width: 80%;
    padding: 40px 30px 70px;
  }
}